<button {{action 'buttonClicked'}} class="btn btn-primary">Send</button>
<button {{action 'subscribeButton'}} class="btn btn-primary">Subscribe</button>
<button {{action 'unsubscribeButton'}} class="btn btn-primary">Unsubscribe</button>
<button {{action 'privateSubscribeButton'}} class="btn btn-primary">Private Subscribe</button>
<button {{action 'privateUnsubscribeButton'}} class="btn btn-primary">Private Unsubscribe</button>
